
<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>FCC Image Search Service</title>
    <meta name="description" content="Image search service">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
  </head>
  <body>
        <div class="container">
            <h1 class="header">
                Image Search Abstraction layer
            </h1>
            <blockquote>
                User stories:
                <ol>
                  <li>Get list of image search results(image url, alt text, page url) for a query string</li>
                  <li>Get list of latest searches</li>
                  <li>Paginate your query by passing a paramater offset=number</li>
                </ol>
                
            </blockquote>
            <h3>Example usage:</h3>
            1) Image Search Query : <code>https://fcc-imagesearch-api.glitch.me/api/imagesearch?q=cat&offset=2</code><br>
            2) Latest Search Strings: <code>https://fcc-imagesearch-api.glitch.me/api/latest/imagesearch</code>
            <h3>Example output:</h3>
            1) <code>[{"URL":"images.google.com/hosted/life/ff11cde8ae59eab3.html","snippet":"Hosted by Google · LIFE Buy framed image. Black Cat Auditions In Hollywood. \nDate taken: 1961. Photographer: Ralph Crane. Size: 851 x 1280 pixels (11.8 x \n17.8 inches). Related images: Search LIFE Images: © Time Inc. For personal non\n-commercial use only, View full size. ©2008 Google - Google Home.","pageURL":"http://images.google.com/hosted/life/ff11cde8ae59eab3.html"},{"URL":"images.google.com/hosted/life/6c2dc6c469203bd8.html","snippet":"Hosted by Google · LIFE Buy framed image. Monkey, The Cat & His Hats. Date \ntaken: January 1949. Photographer: James Whitmore. Size: 1054 x 1280 pixels (\n14.6 x 17.8 inches). Related images: Search LIFE Images: © Time Inc. For \npersonal non-commercial use only, View full size. ©2008 Google - Google Home.","pageURL":"http://images.google.com/hosted/life/6c2dc6c469203bd8.html"}]</code><br>
            2) <code>[[
	{
		"term": "indonesia",
		"when": "2018-03-27T09:53:33.808Z"
	},
	{
		"term": "lolcats funny",
		"when": "2018-03-27T09:51:16.028Z"
	},
	{
		"term": "lolcats funny",
		"when": "2018-03-27T09:51:11.928Z"
	},
	{
		"term": "indonesia",
		"when": "2018-03-27T09:50:00.238Z"
	},
	{
		"term": "indonesia",
		"when": "2018-03-27T09:49:34.341Z"
	},
]</code>
    </div>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
  </body>
</html>
